<div class="wrap">

<h2 class="long-header">Compare Revisions of {{left.post_title}}</h2>

<table class="form-table ie-fixed">
	<col class="th" />

<tr id="revision">
	<th scope="row"></th>
	<th scope="col" class="th-full">
		<span class="alignleft">
			<strong>Parent:</strong> <a href="{{#edit_link}}{{left.ID}}{{/edit_link}}" title="edit">{{#format_date}}{{left.post_modified}}{{/format_date}}</a>
		</span>
		<span class="alignright">
			<strong>Draft:</strong> <a href="{{#edit_link}}{{right.ID}}{{/edit_link}}" title="edit">{{#format_date}}{{right.post_modified}}{{/format_date}}</a>
		</span>
	</th>
</tr>

{{#rev_fields}}
<tr id="revision-field-{{field}}">
	<th scope="row">{{{title}}}</th>
	<td><div class="pre">{{{content}}}</div></td>
</tr>
{{/rev_fields}}

{{^rev_fields}}
<tr><td colspan="2"><div class="updated"><p>These revisions are identical.</p></div></td></tr>
{{/rev_fields}}

</table>