<tr class="post format-standard hentry category-events category-general  iedit author-self" valign="top">
	
	<th scope="row" class="check-column"></th>
	<script>jQuery('.dpr-title-cell').trigger('setColSpan')</script>
	<td class="post-title page-title column-title dpr-title-cell" colspan="">
		<strong>{{post.post_title}} published successfully!</strong>
		<div class="row-actions">
			<span class="edit"><a href="{{#edit_link}}{{post.ID}}{{/edit_link}}" title="Edit this item">Edit Parent</a> | </span>
			<span class="view"><a href="{{#permalink}}{{post.ID}}{{/permalink}}" title="View" rel="permalink">View Parent</a></span>
		</div>
	</td>
		
</tr>